/* body{
  background-color: #F8F5F5; 

  .logo{
    margin-top: 12px; 
    width: 75px; 
    height: 72px; 
    display: block; 
    margin: 0 auto;  
  }
  h1{
    text-align: center; 
    font-size: 2.25rem;
    margin-top: 40vh; 
    letter-spacing: 0.2em;
    color: #000000;
    opacity: 0.6;
    font-family: 'Monument Extended';
  }
  h2{
    font-family: 'Monument Extended';
    text-align: center; 
    margin-top: 1.5vh;
    font-size: 2rem; 
    letter-spacing: 0.06em;
    opacity: 0.5;
 white-space:nowrap;   
    position: relative;
    color: #F8F5F5;
    text-shadow: 1px 0 0 #000000, -1px 0 0 #000000, 0 1px 0 #000000, 0 -1px 0 #000000, 
    1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000;
    animation: moveText linear 8s  infinite;
    @keyframes moveText {
      from { transform: translateX(880px); }
      to { transform: translateX(-1100px); }
    }
  }    
    

.vectorOne {
  position: absolute;
  width: 1.25rem;
  left: 10.625rem;
  top: 44.375rem;
  border: 1px solid #000000;
  transform: rotate(90deg);
}
.contact {
  position: absolute;
  width: 6.75rem;
  height: 1.4375rem;
  left: 8.125rem;
  top: 42.5rem;
  font-family: 'Monument Extended'; 
  font-size: 0.75rem;
  text-align: center;
  letter-spacing: 0.2em;
  color: #000000;
  text-decoration: none;

  &:hover {
    text-decoration: underline; 
  }
}
.vectorTwo {
  position: absolute;
width: 36px;
height: 0px;
left: 365px;
top: 535px; 
border: 1px solid #000000;
}
.work {
  position: absolute;
  width: 6.75rem;
  height: 1.4375rem;
  left: 270px;
  top: 530px;
  font-family: 'Monument Extended';
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #000000; 
  text-decoration: none;

    &:hover {
      text-decoration: underline; 
    }
}
}  */


body {
  background-color: #F8F5F5; 
 margin: 0; 

  .logo { 
    width: 150px;
    height: 140px;
    margin-right: 50vh; 
    margin-left: 50vh; 
    margin-top: 2vh;
  }

  h1 {
    font-size: 5rem;
    position: absolute;
    top: 50%; left: 40%;
    margin-top: 60vh; 
    letter-spacing: 0.2em;
    opacity: 0.6;
    font-family: 'Monument Extended';
  }

  h2{
    font-size: 4.5rem; 
    position: absolute; 
    top: 50%; left: 40%;
    margin-top: 75vh; 
    letter-spacing: 0.2em;
    opacity: 0.6;
    font-family: 'Monument Extended';
    white-space: nowrap; 
    color: #F8F5F5;
    text-shadow: 1px 0 0 #000000, -1px 0 0 #000000, 0 1px 0 #000000, 0 -1px 0 #000000, 
    1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000;
    animation: moveText linear 8s  infinite;
    @keyframes moveText {
      from { transform: translateX(880px); }
      to { transform: translateX(-1100px); }
    }
  }



}