@font-face {
  font-family: 'Gotham';
  src: url('../fonts/GothamBook.ttf') format('ttf');
  font-weight: normal; 
  font-style: normal; 
}
@font-face {
  font-family: 'Times';
  src: url('../fonts/Times.ttc') format('ttc');
  font-weight: normal; 
  font-style: normal; 
}
